@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chris's ASP.NET Application</h1>
    <p class="lead">@Model.DatabaseMessage</p>
</div>
